@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "confirmReserv";
}

<p class="page-title"><img src="~/images/reserv.png" width="30px" alt="確認預約"> 確認預約</p>
<hr>

<h3 style="text-align: center; background-color: #A4C2C7; padding: 10px; margin: 0; font-size: 1.25rem; border-radius: 5px; border: 1px solid #ddd; color: #000000;">@(ViewData["hospital"])</h3>
<br />

<div style="background-color: #E2EDF6; padding: 10px; margin: 0; font-size: 1.25rem; border-radius: 5px; border: 1px solid #ddd; color: #000000;">
    <div>
        @foreach (var record in Model)
        {
            <h3 style="color:red;"><b>@(record.Reserv_time)門診 @(record.Doctor_name)醫師</b></h3>
        }
        <div>
            <h4>患者資訊</h4>
            姓名：@(ViewData["Name"])</br>
            生日：@(ViewData["birth"])</br>
            電話號碼：@(ViewData["Phone"])</br>
            身份證字號：@(ViewData["Nidcard"])
        </div>

    </div>
</div>

<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Reserv" asp-action="searchDepartment">
    <button type="submit" class="btn btn-info btn-sm d-block d-sm-inline" style="background-color:#65A7B2;border-radius: 10px; color: #FFFFFF">掛號</button>
</a>