@model WebApplication1.Models.Doctor
@{
    ViewData["Title"] = "searchDepartment";
    var dpm = ViewData["Department"] as List<string>;
    var hospital = ViewBag.Hospital;
}

<p style="font-size: 25px;"><img src="~/images/reserv.png" width="30px" class="d-inline-block align-text-top" alt="可預約門診科目">查詢可預約門診科目</p>
<hr>

<h3 style="text-align: center; background-color: #A4C2C7; padding: 10px; margin: 0; font-size: 1.25rem; border-radius: 5px; border: 1px solid #ddd; color: #FFFFFF;">門診科目</h3>

<div style="display: flex; justify-content: center; align-items: flex-start; gap: 150px;">
    @foreach (var department in dpm)
    {
        <div style="text-align: center;">
            <a class="nav-link text-dark" asp-area="" asp-controller="Reserv" asp-action="reservTable" asp-route-department="@department" asp-route-hospital="@hospital">
                <img src="/images/@(department).png" width="150" class="d-inline-block align-text-top" alt="看診科目" style="border-radius: 10px;">
                <p style="margin-top: 10px; background-color: #D6E4F0; padding: 5px 10px; border-radius: 10px; display: inline-block; width: 150px; text-align: center;">@department</p>
            </a>
        </div>
    }
</div>