@model WebApplication1.Models.Doctor
@{
    ViewData["Title"] = "searchDepartment";
    var dpm = ViewData["Department"] as List<string>;
    var hospital = ViewBag.Hospital;
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" style="margin-bottom: 5px;">
    <ol class="breadcrumb" style="background-color: white; padding: 5px; border-radius: 3px;font-size: 0.9rem; line-height: 1.2; ">
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Account" asp-action="Homepage" class="text-decoration-none" style="color:cornflowerblue">首頁</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Reserv" asp-action="searchHospital" class="text-decoration-none" style="color:cornflowerblue">查詢可預約醫院</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">查詢可預約門診科目</li>
    </ol>
</nav>
<p style="font-size: 25px;"><img src="~/images/reserv.png" width="30px" class="d-inline-block align-text-top" alt="可預約門診科目">查詢可預約門診科目</p>
<hr>

<h3 style="text-align: center; background-color: #A4C2C7; padding: 10px; margin: 0; font-size: 1.25rem; border-radius: 5px; border: 1px solid #ddd; color: #FFFFFF;">門診科目</h3>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        @foreach (var department in dpm)
        {
            <div class="col">
                <a asp-area="" asp-controller="Reserv" asp-action="reservTable" asp-route-department="@department" asp-route-hospital="@hospital" class="text-decoration-none text-dark">
                    <img src="/images/@(department).png" class="img-fluid" alt="@department" style="border-radius: 10px; height: 150px; object-fit: cover;">
                    <div class="py-2">
                        <p style="margin-top: 10px; background-color: #D6E4F0; padding: 5px 10px; border-radius: 10px; display: inline-block; width: 150px; text-align: center;">@department</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>