@{
    ViewData["Title"] = "searchPage";
}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb" style="margin-bottom: 5px;">
    <ol class="breadcrumb" style="background-color: white; padding: 5px; border-radius: 3px;font-size: 0.9rem; line-height: 1.2; ">
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Account" asp-action="Homepage" class="text-decoration-none" style="color:cornflowerblue">首頁</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">查詢功能</li>
    </ol>
</nav>

<div class="col-lg-9 main-content">
    <p style="font-size: 25px;"><img src="~/images/search.png" width="30px" class="d-inline-block align-text-top" alt="查詢功能">查詢</p>
    <hr />

    <div style="display: flex; justify-content: center; align-items: flex-start; gap: 150px;">
        <div style="text-align: center;">
            <a class="nav-link text-dark" asp-area="" asp-controller="MRecord" asp-action="MRecordList">
                <img src="/images/searchMr.png" width="150" class="d-inline-block align-text-top hover-card" alt="病歷查詢" style="border-radius: 10px;">
            </a>
            <p style="margin-top: 10px; background-color: #D6E4F0; padding: 5px 10px; border-radius: 10px; display: inline-block; width: 150px; text-align: center;">病歷</p>
        </div>
        <div style="text-align: center;">
            <a class="nav-link text-dark" asp-area="" asp-controller="MRecord" asp-action="Consultation">
                <img src="/images/searchR.png" width="150" class="d-inline-block align-text-top hover-card" alt="預約&看診記錄" style="border-radius: 10px;">
            </a>
            <p style="margin-top: 10px; background-color: #D6E4F0; padding: 5px 10px; border-radius: 10px; display: inline-block; width: 150px; text-align: center;">看診記錄</p>
        </div>
    </div>
 </div>